
body {
	margin: 0;
	padding: 0;
	background: #372412 url(../images/img01.gif) repeat-x;
	font-size: 13px;
	color: #FFFFFF;
}

body, th, td, input, textarea, select, option {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	text-transform: lowercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	letter-spacing: -2px;
	font-size: 3em;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 200%;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	color: #FFEA6F;
}

a:hover {
	text-decoration: none;
}

img { border: none; }

/* Header */

#header {
	width: 1024px;
	height: 250px;
	margin: 0 auto;
	background: url(../images/img02.jpg) no-repeat;
}

/* Logo */

#logo {
	height: 170px;
	background: url(../images/img07.gif) no-repeat left 65%;
}

#logo h1 {
	float: left;
	padding: 40px 40px 0 50px;
	letter-spacing: -2px;
	font-size: 48px;
}

#logo h2 {
	float: right;
	padding: 68px 0 0 0;
	font-size: 24px;
	
}

#logo a {
	text-decoration: none;
	color: #372412;
}

/* Gallery */

#gallery {
	clear: both;
	width: 830px;
	height: 300px;
	margin: 0 auto;
	
}

#top-photo h2 {
	height: 1.4em;
	font-size: 1em;
}

#top-photo p {
	margin: 0;
	padding: 0 0 10px 0;
}

/* Menu */

#menu {
	width: 1024px;
	height: 60px;
	background: url(../images/img03.jpg) no-repeat;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;

	height: 70px;
	width: 104px;
	padding-top: 37px;
	text-transform: lowercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: -1px;
	font-size: 14px;
	color: #FFFFFF;
}

#menu a:hover {
	background: url(../images/img09.jpg) no-repeat;
	color: #FFFFFF;
	
}

#menu .active a {
	background: url(../images/img09.jpg) no-repeat;
	
	color: #372412;
}

/* Page */

#page {
	width: 1024px;
	margin: 0 auto;
	padding: 20px 0;
}

/* Content */

#content {
	float: left;
	width: 1024px;
}

.post {
	padding: 0 0 20px 0;
}

.title {
	margin: 0;
	border-bottom: 2px solid #4A3903;
}

.byline {
	margin: 0;
}

.meta {
	border-top: 1px solid #4A3903;
	text-align: left;
	color: #646464;
}

.meta a {
	padding-left: 15px;
	background: url(../images/img06.gif) no-repeat left center;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 120px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding: 15px 0;
}

#sidebar li li {
	padding-left: 30px;
	border-bottom: 1px dotted #4A3903;
	background: url(../images/img06.gif) no-repeat 15px 50%;
}

#sidebar h2 {
	margin: 0;
	padding: 20px 0 2px 30px;
	background: url(../images/img05.gif) no-repeat left bottom;
	border-bottom: 2px solid #4A3903;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Footer */

#footer {
	clear: both;
	padding: 20px 0;
	background: #FFEA6F;
	border-top: 3px solid #E8AD35;
	text-align: center;
	font-size: smaller;
	color: #E8AD35;
}

#footer a {
	color: #C28C21;
}

.button{
border:1px solid #908c68; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 10px 5px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a9a588; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9a588), to(#8e865b));
 background-image: -webkit-linear-gradient(top, #a9a588, #8e865b);
 background-image: -moz-linear-gradient(top, #a9a588, #8e865b);
 background-image: -ms-linear-gradient(top, #a9a588, #8e865b);
 background-image: -o-linear-gradient(top, #a9a588, #8e865b);
 background-image: linear-gradient(to bottom, #a9a588, #8e865b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9a588, endColorstr=#8e865b);
}

.button:hover{
 border:1px solid #767255;
 background-color: #938e6b; background-image: -webkit-gradient(linear, left top, left bottom, from(#938e6b), to(#6f6947));
 background-image: -webkit-linear-gradient(top, #938e6b, #6f6947);
 background-image: -moz-linear-gradient(top, #938e6b, #6f6947);
 background-image: -ms-linear-gradient(top, #938e6b, #6f6947);
 background-image: -o-linear-gradient(top, #938e6b, #6f6947);
 background-image: linear-gradient(to bottom, #938e6b, #6f6947);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#938e6b, endColorstr=#6f6947);
}
